<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nouvelle publication</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <%-  include("./partials/menuRes.ejs") %>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Nous vous rappelons que toutes les nouvelles publications sont d'abord validée par nos soins avant d'être publiée sur le site. Nous vous prions de bien vouloir vérifier les informations remplies avant de les envoyer.</p></div>
            </div>
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/images/ajout.png" style="width: 65%" alt="..." /></div>
                <div class="col-lg-5">
                    <div class="col-sm-8">
                        <form action="/user/publisherList" method="Post">
                            <h3>Nouvelle publication:</h3>
                            <div class="form-group">
                                <label for="parcDemo">Entrer le nom du parc:</label>
                                <input type="parc" class="form-control" id="parcDemo"  name="parc" aria-describedby="passHelp" placeholder="Parc">
                                <small id="parcHelp1" class="form-text text-muted">Vérifiez l'orthographe</small>
                            </div>

                            <div class="form-group">
                                <label for="libDemo">Entrer le libelle du parc:</label>
                                <input type="libelle" class="form-control" id="libDemo"  name="libelle" aria-describedby="passHelp" placeholder="Libelle">
                                <small id="parcHelp2" class="form-text text-muted">Vérifiez l'orthographe</small>
                            </div>

                            <div class="form-group">
                                <label for="paysDemo">Entrer la localisation du parc:</label>
                                <input type="pays" class="form-control" id="paysDemo"  name="pays" aria-describedby="passHelp" placeholder="Pays">
                                <small id="parcHelp3" class="form-text text-muted">Vérifiez l'orthographe</small>
                            </div>

                            <div class="form-group">
                                <label for="siteDemo">Entrer le lien vers le site officiel du parc:</label>
                                <input type="site" class="form-control" id="siteDemo"  name="site" aria-describedby="passHelp" placeholde="Lien vers le site du parc">
                                <small id="parcHelp4" class="form-text text-muted">Merci de tester le lien après l'avoir coller ci-dessus</small>
                            </div>

                            <select name="type">
                                <option value="S">Sensations fortes</option>
                                <option value="A">Aquatique</option>
                                <option value="">Autre</option>
                            </select>

                            <br><br>
                            <input type="file" name="image" />
                            <br><br>

                            <div class="form-group">
                                <label for="descDemo">Entrer une description</label>
                                <textarea type="description" class="form-control" id="descDemo"  name="desc" aria-describedby="passHelp" placeholder="Description" rows=5></textarea>
                                <small id="descHelp" class="form-text text-muted">400 carractères maximum</small>
                            </div>
                        </form>
                    </div>
                </div>
                <a class="btn btn-primary" href="#!">Envoyer pour validation</a>
                </div>
            </div>

        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/index.js"></script>
    </body>
</html>
