<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PayPal</title>
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <%-  include("./partials/menu.ejs") %>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5" style="align-items: center">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5" style="align-items: center">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/images/logo-Paypal.jpg" style="width: 65%" alt="..." /></div>
                <div class="col-lg-5" >
                    <div class="col-sm-8">
                        <h2>Publier un nouveau parc sur Parc Advisor</h2>
                        <h3>Payez 10€</h3>
                        <form action="/pay" method="post">
                            <input type="submit" value="Payez">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>